
    <button onclick="Cadastro">Cadastro</button>
    <button onclick="Logar">Logar</button>

    <form action="">
      <div class="Etapa-1">
        <div class="format">
          <label for="cnpj">Cnpj:</label>
          <input type="text" id="cnpj" name="cnpj" />
        </div>

        <div class="format">
          <label for="nome">Nome</label>
          <input type="text" id="nome" name="nome" />
        </div>
      </div>

      <div class="etapa-2">
        <div class="format">
          <label for="uf">UF:</label>
          <select id="uf" name="uf">
            <option value="MG" selected>MG</option>
            <option value="RJ">RJ</option>
            <option value="SP">SP</option>
            <option value="DF">DF</option>
            <option value="GO">GO</option>
            <option value="PR">PR</option>
            <option value="PA">PA</option>
            <option value="RR">RR</option>
            <option value="BA">BA</option>
            <option value="SC">SC</option>
            <option value="RS">RS</option>
            <option value="AC">AC</option>
            <option value="AM">AM</option>
            <option value="RO">RO</option>
            <option value="AP">AP</option>
            <option value="MA">MA</option>
            <option value="MS">MS</option>
            <option value="CE">CE</option>
            <option value="MT">MT</option>
            <option value="PI">PI</option>
            <option value="RN">RN</option>
            <option value="PB">PB</option>
            <option value="PE">PE</option>
            <option value="AL">AL</option>
            <option value="SE">SE</option>
            <option value="TO">TO</option>
            <option value="ES">ES</option>
          </select>
        </div>

        <div class="format">
            <label for="cidade">Cidade:</label>
            <input type="text" id="cidade" name="cidade" />
          </div>

      </div>
    </form>
    <script src="~/Conta.js"></script>
