@using AutoMenu.Models
@model RestauranteEndereco


<div id="escolha-button">
    <button type="button" id="cadastro" onclick="btncadastro()">Cadastro</button>
    <button type="button" id="logar" onclick="btnlogar()">Logar</button>
</div>
<form id="form-cadastro" style="display: none">

    <div id="Etapa-1">
        <div class="format">
            <label asp-for="RestauranteAddRequest.CNPJ">Cnpj:</label>
            <input asp-for="RestauranteAddRequest.CNPJ"/>
            <span asp-validation-for="RestauranteAddRequest.CNPJ"></span>
        </div>

        <div class="format">
            <label asp-for="RestauranteAddRequest.Nome">Nome</label>
            <input asp-for="RestauranteAddRequest.Nome" />
            <span asp-validation-for="RestauranteAddRequest.Nome"></span>
        </div>
        <button type="button" onclick="voltar_etapa1()">Voltar</button>
        <button type="button" onclick="mostraretapa2()">Proxima</button>
    </div>

    <div id="Etapa-2" style="display: none">
        <div class="format">
            <label asp-for="EnderecoAddRequest.UF">UF:</label>
            <select asp-for="EnderecoAddRequest.UF">
                <option value="MG" selected>MG</option>
                <option value="RJ">RJ</option>
                <option value="SP">SP</option>
                <option value="DF">DF</option>
                <option value="GO">GO</option>
                <option value="PR">PR</option>
                <option value="PA">PA</option>
                <option value="RR">RR</option>
                <option value="BA">BA</option>
                <option value="SC">SC</option>
                <option value="RS">RS</option>
                <option value="AC">AC</option>
                <option value="AM">AM</option>
                <option value="RO">RO</option>
                <option value="AP">AP</option>
                <option value="MA">MA</option>
                <option value="MS">MS</option>
                <option value="CE">CE</option>
                <option value="MT">MT</option>
                <option value="PI">PI</option>
                <option value="RN">RN</option>
                <option value="PB">PB</option>
                <option value="PE">PE</option>
                <option value="AL">AL</option>
                <option value="SE">SE</option>
                <option value="TO">TO</option>
                <option value="ES">ES</option>
            </select>
            <span asp-validation-for="EnderecoAddRequest.UF"></span>
        </div>

        <div class="format">
            <label asp-for="EnderecoAddRequest.Cidade">Cidade:</label>
            <input asp-for="EnderecoAddRequest.Cidade" />
            <span asp-validation-for="EnderecoAddRequest.Cidade"></span>
        </div>

        <div class="format">
            <label asp-for="EnderecoAddRequest.Bairro">Bairo:</label>
            <input asp-for="EnderecoAddRequest.Bairro" />
            <span asp-validation-for="EnderecoAddRequest.Bairro"></span>
        </div>

        <div class="format">
            <label asp-for="EnderecoAddRequest.Logradouro">Logradouro:</label>
            <input asp-for="EnderecoAddRequest.Logradouro" />
            <span asp-validation-for="EnderecoAddRequest.Logradouro"></span>
        </div>

        <div class="format">
            <label asp-for="EnderecoAddRequest.Numero">Numero:</label>
            <input asp-for="EnderecoAddRequest.Numero" />
            <span asp-validation-for="EnderecoAddRequest.Numero"></span>
        </div>

        <div class="format">
            <label asp-for="EnderecoAddRequest.Complemento">Complemento :</label>
            <input asp-for="EnderecoAddRequest.Complemento" />
            <span asp-validation-for="EnderecoAddRequest.Complemento"></span>
        </div>

        <button type="button" onclick="voltar_etapa2()">Voltar</button>
        <button type="button" onclick="mostraretapa3()">Proxima</button>
    </div>

    <div id="Etapa-3" style="display: none">
        <div class="format">
            <label asp-for="RestauranteAddRequest.Email">Email:</label>
            <input asp-for="RestauranteAddRequest.Email" />
            <span asp-validation-for="RestauranteAddRequest.Email"></span>
        </div>

        <div class="format">
            <label asp-for="RestauranteAddRequest.Senha">Senha:</label>
            <input asp-for="RestauranteAddRequest.Senha" />
            <span asp-validation-for="RestauranteAddRequest.Senha"></span>
        </div>

        <button type="button" onclick="voltar_etapa3()">voltar</button>
        <button type="submit">Cadastrar</button>
    </div>
</form>

<form id="form-login" action="" style="display: none">
    <div class="format">
        <label for="cnpj-login">Cnpj:</label>
        <input type="text" id="cnpj-login" name="cnpj-login" />
        <span></span>
    </div>

    <div class="format">
        <label for="senha-login">Senha:</label>
        <input type="password" id="senha-login" name="senha-login" />
        <span></span>
    </div>

    <button type="button" onclick="voltar_login()">voltar</button>
    <button type="submit">Logar</button>
</form>


@section scripts {
    <script src="~/Conta.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" asp-fallback-test="window.jQuery" asp-fallback-src="~/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/jquery.validate.min.js"
    integrity="sha512-WMEKGZ7L5LWgaPeJtw9MBM4i5w5OSBlSjTjCtSnvFJGSVD26gE5+Td12qN5pvWXhuWaWcVwF++F7aqu9cvqP0A=="
            crossorigin="anonymous" referrerpolicy="no-referrer" asp-fallback-test="window.jQuery.validator" asp-fallback-src="~/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js"
    integrity="sha512-xq+Vm8jC94ynOikewaQXMEkJIOBp7iArs3IhFWSWdRT3Pq8wFz46p+ZDFAR7kHnSFf+zUv52B3prRYnbDRdgog=="
            crossorigin="anonymous" referrerpolicy="no-referrer" asp-fallback-test="window.jQuery.validator.unobtrusive" asp-fallback-src="~/jquery.validate.unobtrusive.min.js"></script>
}
