@section styles {
    <link href="~/css/Account.css" rel="stylesheet" />
}

<div id="choice-button">
    <button type="button" class="button-choice-style" id="register" onclick="btn_register()">Cadastrar</button>
    <button type="button" class="button-choice-style" id="logar" onclick="btn_logar()">Logar</button>
</div>
<form id="form-register" asp-controller="Account" asp-action="Create" enctype="application/x-www-form-urlencoded"
    method="POST" style="display: none" class="forms-login">

    <div id="stage-1" style="gap: 20px;">
        <h1 class="Register-show">Cadastrar</h1>
        <div class="div-stages">
            <div class="complete-stages stage-complete"><span>1</span></div>
            <div class="complete-stages"><span>2</span></div>
            <div class="complete-stages"><span>3</span></div>
        </div>

        <div class="format">

            <input class="inputs-forms" type="text" id="Cnpj" name="CNPJ" maxlength="18" oninput="mascaraCNPJ()" required />
            <label class="label-forms" for="Cnpj">Cnpj:</label>

            <span class="error-text" id="error-Cnpj"></span>
        </div>

        <div class="format">

            <input class="inputs-forms" placeholder="Nome Pizzaria Romania" type="text" id="Name" name="Name" maxlength="80" required />
            <label class="label-forms" for="Name">Nome</label>
            <span class="error-text" id="error-Name"></span>
        </div>
        <div class="buttons-format">
            <button class="buttons" type="button" onclick="back_stage1()">Voltar</button>
            <button class="buttons" type="button" onclick="show_stage2()">Proxima</button>
        </div>
    </div>

    <div id="stage-2" style="display: none ;gap: 15px;">
        <h1 class="Register-show">Cadastrar</h1>
        <div class="div-stages">
            <div class="complete-stages"><span>1</span></div>
            <div class="complete-stages stage-complete"><span>2</span></div>
            <div class="complete-stages"><span>3</span></div>
        </div>
        <div class="format">

            <select id="uf" name="UF" class="inputs-forms" required>
                <option value="" disabled selected></option>
                <option value="MG">MG</option>
                <option value="RJ">RJ</option>
                <option value="SP">SP</option>
                <option value="DF">DF</option>
                <option value="GO">GO</option>
                <option value="PR">PR</option>
                <option value="PA">PA</option>
                <option value="RR">RR</option>
                <option value="BA">BA</option>
                <option value="SC">SC</option>
                <option value="RS">RS</option>
                <option value="AC">AC</option>
                <option value="AM">AM</option>
                <option value="RO">RO</option>
                <option value="AP">AP</option>
                <option value="MA">MA</option>
                <option value="MS">MS</option>
                <option value="CE">CE</option>
                <option value="MT">MT</option>
                <option value="PI">PI</option>
                <option value="RN">RN</option>
                <option value="PB">PB</option>
                <option value="PE">PE</option>
                <option value="AL">AL</option>
                <option value="SE">SE</option>
                <option value="TO">TO</option>
                <option value="ES">ES</option>
            </select>
            <label class="label-forms" for="uf">UF:</label>
        </div>

        <div class="format">

            <input class="inputs-forms" type="text" id="City" name="City" required />
            <label class="label-forms" for="City">Cidade:</label>
            <span class="error-text" id="error-City"></span>
        </div>

        <div class="format">

            <input class="inputs-forms" type="text" id="District" name="District" required />
            <label class="label-forms" for="District">Bairro:</label>
            <span class="error-text" id="error-District"></span>
        </div>

        <div class="format">

            <input class="inputs-forms" type="text" id="Address" name="Street" required />
            <label class="label-forms" for="Address">Logradouro:</label>
            <span class="error-text" id="error-Address"></span>
        </div>

        <div class="format">

            <input class="inputs-forms" type="text" id="Number" name="Number" required />
            <label class="label-forms" for="Number">Numero:</label>
            <span class="error-text" id="error-Number"></span>
        </div>

        <div class="format">

            <input class="inputs-forms" type="text" id="Complement" name="Complement" required />
            <label class="label-forms" for="Complement">Complemento:</label>
            <span class="error-text" id="error-Complement"></span>
        </div>
        <div class="buttons-format">
            <button class="buttons" type="button" onclick="back_stage2()">Voltar</button>
            <button class="buttons" type="button" onclick="show_stage3()">Proxima</button>
        </div>
    </div>

    <div id="stage-3" style="display: none; gap: 20px;">
        <h1 class="Register-show">Cadastrar</h1>
        <div class="div-stages">
            <div class="complete-stages"><span>1</span></div>
            <div class="complete-stages"><span>2</span></div>
            <div class="complete-stages stage-complete"><span>3</span></div>
        </div>
        <div class="format">

            <input class="inputs-forms" type="text" id="Email" name="Email" required />
            <label class="label-forms" for="Email">Email:</label>
            <span class="error-text" id="error-Email"></span>
        </div>

        <div class="format">

            <input class="inputs-forms" type="password" id="Password" name="Password" required />
            <label class="label-forms" for="Password">Senha:</label>
            <span class="error-text" id="error-Password"></span>
        </div>
        <div class="buttons-format">
            <button class="buttons" type="button" onclick="back_stage3()">voltar</button>
            <button class="buttons" type="button" onclick="validar_etapa3()">Cadastrar</button>
        </div>
    </div>
</form>

<form id="form-login" asp-controller="Account" asp-action="Login" enctype="application/x-www-form-urlencoded "
    style="display: none;gap: 20px;" class="forms-login">
    <div class="format">
        <input class="inputs-forms" type="text" id="Cnpj-login" name="CNPJ" required oninput="mascaraCNPJLogin()" />
        <label class="label-forms" for="Cnpj-login">Cnpj:</label>
        <span class="error-text" id="error-Cnpj-login"></span>
    </div>

    <div class="format">
        <input class="inputs-forms" type="password" id="Password-login" name="password" required />
        <label class="label-forms" for="Password-login">Senha:</label>
        <span class="error-text" id="error-Password-login"></span>
    </div>
    <div class="buttons-format">
        <button class="buttons" type="button" onclick="back_login()">voltar</button>
        <button class="buttons" type="button" onclick="validacao_login()">Logar</button>
    </div>
</form>

@section scripts {
    <script src="~/js/Account.js"></script>
    <script>
        document.getElementById('Cnpj').addEventListener('input', function () {
            var inputCnpj = this.value;
            var cnpjList = @Html.Raw(Json.Serialize(ViewBag.Cnpjs));

            var cnpjExists = cnpjList.includes(inputCnpj);

            if (cnpjExists) {
                document.getElementById('error-Cnpj').textContent = "CNPJ Existente";
            } else {
                document.getElementById('error-Cnpj').textContent = "";
            }
        })
    </script>
}