<nav>
    <ul>
        <li>
            <img src="" alt="">
        </li>
        <li>
            Conteudo
        </li>
        <li id="login-register-li">
            <a href="~/Account/">
                <button class="button-log-cad">Cadastrar/Logar</button>
            </a>
        </li>
    </ul>
</nav>
<article>
    <img src="~/backgound-home.png" alt="" id="image-background">
<div id="div-background">
        <h1>Cardapio facil <br>Aqui:</h1>
        <a href="~/Account/">
            <button class="button-log-cad button-background">Cadastrar/Logar</button>
        </a>
    </div>
</article>
