<nav>
    <ul>
        <li>
            <img src="" alt="">
        </li>
        <li>
            Conteudo
        </li>
        <li>
            <a href="~/Account/">Cadastrar/Logar</a>
        </li>
    </ul>

</nav>