@section styles{
    <link href="~/css/Home.css" rel="stylesheet" />
}

<nav>
    <ul>
        <div>
            <img src="~/images/logo.png" alt="">
        </div>
        <ul>
            <li>Ajuda</li>
            <li>Como Funciona</li>
            <li>Preços</li>
            <li>Ajuda</li>
        </ul>

        <div id="login-register-li">
            <a href="~/Account/">
                <button class="button-log-cad">Cadastrar/Logar</button>
            </a>
        </div>
    </ul>
</nav>
<article>
    <img src="~/images/background-home2.png" alt="" id="image-background" asp-append-version="true">
    <div id="div-background">
        <h1>Monte seu cardapio<br>Aqui:</h1>
        <a href="~/Account/">
            <button class="button-log-cad button-background">Cadastrar/Logar</button>
        </a>
    </div>
</article>
