<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>

<body>
    <main id="main-interface">
        <header> 
            <nav>
                <ul>
                    <li></li>
                </ul>
            </nav>
        </header>
        <nav>
            <img src="~/logo.png" alt="logo do site"  asp-append-version="true">
            <div></div>
        </nav>

        <div>
            @RenderBody()
        </div>
    </main>
</body>

</html>
