@{
    var Model = (RestaurantResponse)ViewBag.ViewModelTRestaurantResponse;
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/Interface_Layout.css">
    @await RenderSectionAsync("styles", required: false)
</head>

<body>
    <main id="main-interface">
        <header>
            <div id="div-logo-hamburguer">

                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256">
                    <path fill="currentColor"
                        d="M228 128a12 12 0 0 1-12 12H40a12 12 0 0 1 0-24h176a12 12 0 0 1 12 12M40 76h176a12 12 0 0 0 0-24H40a12 12 0 0 0 0 24m176 104H40a12 12 0 0 0 0 24h176a12 12 0 0 0 0-24">
                    </path>
                </svg>

                <a href="~/Interface.cshtml">
                    <h1>AUTO MENU</h1>
                </a>
            </div>
         
            <div id="div-user">
                <img src="~/images/User-standard.png" alt="Usuario Padrão" asp-append-version="true">
                <h4>@if (Model == null)
                    {
                        <text>Usuario: Não registrado</text>
                    }
                    else
                    {
                        <text>Bem-vindo, @Model.Name!</text>
                    }
                </h4>
                <h6>Restaurante</h6>
            </div>
        </header>

        <div>
            @RenderBody()
        </div>
    </main>
</body>

</html>
