* {
  box-sizing: border-box;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #fdf9ed;
}

#choice-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button-choice-style {
  width: 170px;
  border: solid #1298ee 3px;
  text-decoration: none;
  background: transparent;
  padding: 10px 30px 10px 30px;
  color: black;
  cursor: pointer;
  font-size: 18px;
  margin: 10px;
}

.Register-show {
  text-align: center;
}

.div-stages {
  display: flex;
  justify-content: center;
}

.complete-stages {
  margin: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  position: relative;
}

.complete-stages span {
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.stage-complete {
  background-color: #1298ee;
}

.format {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}
.format:nth-child(2) {
  margin-top: 2%;
}
.format:nth-child(3) {
  margin-top: 2%;
}
.format:nth-child(4) {
  margin-top: 2%;
}
.format:nth-child(5) {
  margin-top: 2%;
}
.format:nth-child(6) {
  margin-top: 2%;
}
.format:last-child {
  margin-top: 2%;
}
.content-forms {
  padding: 50px;
}
.content-forms > h1 {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #1298ee;
}
.forms-login > h1 {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #1298ee;
}

.forms-login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgba(18, 152, 238, 0.5);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: auto;
  width: 40%;
  padding: 10px;
}

#buttons-format {
  display: flex;
  justify-content: space-between;
}

.buttons {
  padding: 5px;
  background: transparent;
  border: 1px solid #1298ee;
  border-radius: 5px;
  font-size: 1.1em;
  margin: 2% auto;
  cursor: pointer;
  transition: 0.4s;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.buttons:hover {
  background-color: #1298ee;
  color: white;
}

.inputs-forms {
  font-size: 1.1em;
  border: none;
  width: 75%;
  border-bottom: 2px solid #1298ee;
  border-radius: 15px;
  padding: 2px;

  outline: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.label-forms {
  font-size: 1.2em;
  color: #1298ee;
  letter-spacing: 1.4px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  position: absolute;
  top: 5px;
  left: 13%;
  pointer-events: none;
  transition: 0.375s;
}

.inputs-forms:focus ~ .label-forms,
.inputs-forms:valid ~ .label-forms {
  font-size: 0.75em;
  top: -10px;
}

.error-text {
  color: #8f0202;
  font-size: 13px;
}
